* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0 20px;
}

.logo {
  width: 80px;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

.body {
  padding: 20px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 220px;
  padding: 10px;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.res-card:hover {
  border: 1px solid #000;
}

.res-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.res-card h3,
.res-card h4 {
  margin-top: 8px;
}

.filter-btn {
  cursor: pointer;
  height: 20px;
  background-color: red;
  border-radius: 10px 10px 10px 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shimmer-card {
  width: 250px;
  padding: 10px;
}

.shimmer-img {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  background: #e0e0e0;
  margin-bottom: 12px;
}

.shimmer-line {
  height: 16px;
  background: #e0e0e0;
  border-radius: 6px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.title {
  width: 80%;
}

.short {
  width: 60%;
}

.shimmer-img::before,
.shimmer-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.fltr-btn {
  padding: 0px 20px;
  cursor: pointer;
}

.search-input {
  height: 20px;
}
